<main class="center" id="Profile" >
    <h1>Profile: </h1>
    <section class="pullTogether">
        <section class="PersonInformation">
            <h3 >Name:</h3>
            <h2 id="Namefield">Missing Name</h2>
        </section>
        <section class="PersonInformation">
            <h3 >Email:</h3>
            <h2 id="Emailfield">Missing Email</h2>
        </section>
        <section class="PersonInformation">
            <button onclick="LogOut()">LogOut</button>
            <button onclick="ChangeProfile()">Edit Profile</button>
        </section>
    </section>
</main>
