<main class="center" id="Profile" >
    <h1>Profile: </h1>
    <section class="pullTogether">
        <section class="PersonInformation">
            <h3 >Name:</h3>
            <h2 id="namefield">{{(user | async)?.name +" "+(user | async)?.famName}}</h2>
        </section>
        <section class="PersonInformation">
            <h3 >Email:</h3>
            <h2 id="emailfield">{{(user | async)?.email}}</h2>
        </section>
        <section class="PersonInformation">
            <button (click)="logOut()">LogOut</button>
            <!-- <button onclick="ChangeProfile()">Edit Profile</button> -->
        </section>
    </section>
</main>
