<main class="center LoginContainer" id="LogIn">
    <section class="LogInputs">
        <img src="../images/MaxLogo.png">
    </section>

    <section class="LogInputs">
        <section>
            <section class="Inputcube">
                <h3>E-Mail:</h3>
                <input [(ngModel)]= "enteredEmail"id="enteredEmail" type="text">
            </section>
            <section class="Inputcube">
                <h3>Passwort:</h3>
                <input [(ngModel)]= "enteredPassword" id="enteredPassword" type="text">
            </section>
        </section>
        <nav class="center">
            <button (click)="logIn()">LogIn</button>
        </nav>
        <aside *ngIf="hasError" #errorMessage class="center errorMessage " id="errorMessage" >
            <h3>Login ungültig</h3>
        </aside>
    </section>
</main>
