<main class="center LoginContainer" id="LogIn">
    <section class="LogInputs">
        <img src="../images/MaxLogo.png">
    </section>

    <section class="LogInputs">
        <section>
            <section class="Inputcube">
                <h3>E-Mail:</h3>
                <input id="EnteredEmail" type="text">
            </section>
            <section class="Inputcube">
                <h3>Passwort:</h3>
                <input id="EnteredPassword" type="text">
            </section>
        </section>
        <nav class="center">
            <button onclick="LogIn()">LogIn</button>
        </nav>
        <aside class="center errorMessage hidden" id="ErrorMessage">
            <h3>Login ungültig</h3>
        </aside>
    </section>
</main>
